<html>

<head>
    <title>Mehul Jain</title>
    <link rel="icon" href="https://github.com/jmehul36/mehuljain265/blob/main/letter-m.png?raw=true" type="image/icon type">
    <link rel="stylesheet" href="style.css">
    <!--GOOGLE FONTS START-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@600&family=Julius+Sans+One&family=Pridi&family=Satisfy&display=swap"
        rel="stylesheet">
    <!--GOOGLE FONTS END-->

</head>

<body>
    <div class="nav">
        <div class="logo">
            <a href="#mehuljainn">
                <h2><span style="color:orange">MEHUL</span> JAIN</h2>
            </a>
        </div>
        <div class="nav_content">
            <a href="#aboutt"> About</a>
            <a href="#educationn">Education</a>
            <a href="#skillss">Skills</a>
            <a href="#certificationss">Certifications</a>
            <a href="#contactt">Contact</a>
        </div>
    </div>

    <div class="main_heading">
        <div id="mehuljainn">
            <h1><span>Hello World</span> </h1>
        </div>
        <div class="main_image">
            <img src="https://github.com/jmehul36/mehuljain265/blob/main/hello_world.jpg?raw=true">
        </div>
    </div>

    <div class="section">
        <div id="aboutt">
            <div class="about">
                <h1>About</h1>

                <img src="https://github.com/jmehul36/mehuljain265/blob/main/my_photo.png?raw=true">
                <p><span style="font-size: 100%; color: orange;">H</span><span>ey I'm Mehul Jain currently in final year
                        pursing my bachelor's
                        degree in Computer Science Engineering from Gandhi Institute of Technology & Management.
                        Since this is my final year of Engineering, I'm
                        looking forward to start my professional journey in
                        an organisation to take up an role that aligns with my skills and
                        interests. It is my goal to contribute my skills and
                        knowledge to the growth of the organization and create
                        an impact.

                        Furthermore, I'm punctual, self motivated, hard working,
                        cooperative person with leadership and teamwork qualities.
                        I make constant effort to learn from my mistakes,
                        expand my knowledge, and discover as much as I can.</span>
                </p>
            </div>
        </div>

        <div class="education">
            <div id="educationn">
                <h1>Education</h1>
                <div class="history-tl-container">
                    <ul class="tl">
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2005 - 2017
                            </div>
                            <div class="item-title">Timapany Senior Secondary School</div>
                            <div class="item-detail">LKG - Class X (CBSE)</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2017 - 2019
                            </div>
                            <div class="item-title">Ascent Classes</div>
                            <div class="item-detail">Class XI - XII (PCM)</div>
                        </li>
                        <li class="tl-item" ng-repeat="item in retailer_history">
                            <div class="timestamp">
                                2019 - 2023
                            </div>
                            <div class="item-title">Gandhi Institute of Technology & Management</div>
                            <div class="item-detail">Computer Science Engineering (B-Tech)</div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>



        <div class="skills">
            <div id="skillss">
                <h1>Skills</h1>
                <ul>
                    <li><span>Python Programming</span></li>
                    <li><span>HTML</span></li>
                    <li><span> CSS </span></li>
                    <li><span> Bootstrap </span></li>
                    <li><span> Desgin Thinking</span> </li>
                    <li><span> Problem Solving </span></li>
                    <li><span> Management Skills </span></li>
                    <li><span> Active Listner </span></li>
                    <li><span> Creative </span></li>
                    <li><span> Teamwork </span></li>
                </ul>
            </div>
        </div>





        <div class="certifications">
            <div id="certificationss">
                <h1>Certifications</h1>
                <marquee behavior="scroll" direction="left" scrollamount="30">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/MTA%20Python-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/SGUHUH.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/ASHBDJHU.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20ZRBA8CETL8SR-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20ZEWFQALTRUZ8-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20WB6ZR8GMMJXY-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20VC7AGXE7ZZZ3-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20V43TTM85TM83-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20PQP4TR93YJ5D-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20MT89NXVYFK7C-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Coursera%20HGESUYB8XPD6-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/Certificate_CODE_HOUR_v2-1.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/GuviCertification%20-%20061fC991Z6Q0a18Fh7.png?raw=true">
                    <img src="https://github.com/jmehul36/mehuljain265/blob/main/internship_completion-1.png?raw=true">
                </marquee>
            </div>
        </div>


        <div class="contact">
            <div id="contactt">
                <h1>Contact</h1>
                <div class="feedback">
                    <div class="feed">
                        <div class="feed-form">
                            <form name="submit-googlesheet" method="post">
                                <input type="text" name="Name" placeholder="Name"> <br>
                                <input type="email" name="Email" placeholder="Email Address"> <br>
                                <input type="tel" name="Phone Number" placeholder="Phone Number" pattern="[0-9]{10}">
                                <br>
                                <input type="text" name="Review" placeholder="Write your review"><br>
                                <button type="submit"> S U B M I T </button>
                            </form>

                        </div>

                    </div>
                </div>
                <div class="social_media_icon">
                    <a href="https://www.linkedin.com/in/mehul-jain-368020193/" target="_blank">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>

                    <a href="https://github.com/jmehul36" target="_blank">
                        <ion-icon name="logo-github"></ion-icon>
                    </a>

                    <a href="mailto: jmehul36@gmail.com" target="_blank">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                    </a>
                    <a href="https://www.instagram.com/mehuljain265/" target="_blank">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>

                    <a href="https://www.facebook.com/mehul.jain.9822" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>

                    <a href="https://twitter.com/MehulJa25352539">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>


                    <a href="https://wa.me/919346123295" target="_blank">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="https://github.com/jmehul36/mehuljain265/blob/main/Mehul%20Jain%20Resume.pdf?raw=true" target="_blank" download>
                <ion-icon name="person-circle-outline">
            </a>
            <p>Resume</p>
            <h6><span>© 2022 Mehul Jain All Rights Reserved.</span></h6>

        </div>
    </div>



    <script type="text/javascript">
        const scriptURL = "https://script.google.com/macros/s/AKfycbyO_jjBm8MBlrG300NDEAAoNqDAG3EZ6ZHsCb0_7TPDD1v6c7dAQ8I8vRG9keqgJycO-A/exec"
        const form = document.forms['submit-googlesheet']

        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, {
                method: 'POST',
                body: new FormData(form)
            })
                .then(response => alert(
                    "Thanks for you valuable Review!!!"))
                .catch(error => console.error('Error!', error.message))
        })

    </script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
